<div class="contact">
    <div class="row_contact">
        <div class="row_left">
            社名
        </div>
        <div class="row_right">
            山田ビジネスコンサルティング株式会社
        </div>
    </div>
    <div class="row_contact">
        <div class="row_left">
            創業
        </div>
        <div class="row_right">
            2000年7月
        </div>
    </div>
    <div class="row_contact">
        <div class="row_left">
            代表者
        </div>
        <div class="row_right">
            <ul>
                <li>代表取締役会長　山田　淳一郎(会計士・税理士)</li>
                <li>代表取締役社長　増田　慶作(税理士・司法書士)</li>
            </ul>
        </div>
    </div>
    <div class="row_contact">
        <div class="row_left">
            資本金
        </div>
        <div class="row_right">
                1億円
        </div>
    </div>
    <div class="row_contact">
        <div class="row_left">
            株主
        </div>
        <div class="row_right">
            <ul>
                <li>山田コンサルティンググループ株式会社（100％）</li>
                <li>JASDAQ上場4792</li>
                <li>資本金15億9,953万円</li>
            </ul>
        </div>
    </div>
    <div class="row_contact">
        <div class="row_left">
            株主
        </div>
        <div class="row_right">
            <ul>
                <li>山田コンサルティンググループ株式会社（100％）</li>
                <li>JASDAQ上場4792</li>
                <li>資本金15億9,953万円</li>
            </ul>
        </div>
    </div>
    <div class="row_contact">
        <div class="row_left">
            事業内容
        </div>
        <div class="row_right">
            <ul>
                <li>1-M&Aコンサルティング</li>
                <li>2-事業承継コンサルティング</li>
                <li>3-海外事業コンサルティング</li>
                <li>4-医療機関向けコンサルティング</li>
                <li>5-事業再生コンサルティング</li>
                <li>6-持続的成長コンサルティング</li>
                <li>7-人事コンサルティング</li>
                <li>8-グループ会社組織再編、その他諸問題の解決</li>
            </ul>
        </div>
    </div>
</div>