<div class="clearfix"></div>
<div class="profile_info">
    <p class="title">国内拠点</p>
    <div class="info">
        <span>東京本社</span>
        <table>
            <tr>
                <th>所在地</th>
                <td>東京都千代田区丸の内1丁目8番1号 <br/>丸の内トラストタワーN館10階(受付9階)</td>
            </tr>
            <tr>
                <th>TEL</th>
                <td>03-6212-2510(代表)</td>
            </tr>
            <tr>
                <th>FAX</th>
                <td>03-6212-2520</td>
            </tr>
            <tr>
                <th>アクセス</th>
                <td>JR東京駅日本橋口より 徒歩1分</td>
            </tr>

        </table>
    </div>
    <div class="info">
        <span>京都支店</span>
        <table>
            <tr>
                <th>所在地</th>
                <td>京都府京都市下京区四条通烏丸東入長刀鉾町<br/> 20番地四条烏丸FTスクエア9階</td>
            </tr>
            <tr>
                <th>TEL</th>
                <td>075-253-1323(代表)</td>
            </tr>
            <tr>
                <th>FAX</th>
                <td>075-253-1324</td>
            </tr>
            <tr>
                <th>アクセス</th>
                <td>地下鉄烏丸線「四条」駅・阪急京都線 <br/>「烏丸」駅19番出口直結</td>
            </tr>

        </table>
    </div>
    <div class="info">
        <span>大阪支店</span>
        <table>
            <tr>
                <th>所在地</th>
                <td>大阪府大阪市中央区伏見町4丁目1番1号 <br/>明治安田生命大阪御堂筋ビル(L.A.タワー)12階</td>
            </tr>
            <tr>
                <th>TEL</th>
                <td>06-6202-1260(代表)</td>
            </tr>
            <tr>
                <th>FAX</th>
                <td>06-6202-1261</td>
            </tr>
            <tr>
                <th>アクセス</th>
                <td>地下鉄御堂筋線「淀屋橋」駅13番出口より 徒歩0分</td>
            </tr>

        </table>
    </div>
    <div class="info">
        <span>神戸事業所</span>
        <table>
            <tr>
                <th>所在地</th>
                <td>兵庫県神戸市中央区磯上通8丁目3番5号 <br>明治安田生命神戸ビル11階(受付6階)</td>
            </tr>
            <tr>
                <th>TEL</th>
                <td>075-253-1323(代表)</td>
            </tr>
            <tr>
                <th>FAX</th>
                <td>075-253-1324</td>
            </tr>
            <tr>
                <th>アクセス</th>
                <td>地下鉄烏丸線「四条」駅・阪急京都線 <br/>「烏丸」駅19番出口直結</td>
            </tr>

        </table>
    </div>
    <div class="info">
        <span>名古屋支店</span>
        <table>
            <tr>
                <th>所在地</th>
                <td>愛知県名古屋市中村区名駅1丁目1番3号 <br/>JRゲートタワー41階</td>
            </tr>
            <tr>
                <th>TEL</th>
                <td>052-533-5327(代表)</td>
            </tr>
            <tr>
                <th>FAX</th>
                <td>052-533-5328</td>
            </tr>
            <tr>
                <th>アクセス</th>
                <td>JR名古屋駅直結</td>
            </tr>

        </table>
    </div>
    <div class="info">
        <span>九州支店</span>
        <table>
            <tr>
                <th>所在地</th>
                <td>福岡県福岡市中央区天神2丁目14番8号<br/> 福岡天神センタービル6階</td>
            </tr>
            <tr>
                <th>TEL</th>
                <td>092-738-5650(代表)</td>
            </tr>
            <tr>
                <th>FAX</th>
                <td>092-738-5651</td>
            </tr>
            <tr>
                <th>アクセス</th>
                <td>J地下鉄空港線「天神」駅1番出口直結</td>
            </tr>
        </table>
    </div>
    <div class="info">
        <span>東北支店</span>
        <table>
            <tr>
                <th>所在地</th>
                <td>宮城県仙台市青葉区中央一丁目2番3号<br/> 仙台マークワン11階</td>
            </tr>
            <tr>
                <th>TEL</th>
                <td>022-399-7068(代表)</td>
            </tr>
            <tr>
                <th>FAX</th>
                <td>022-399-7069</td>
            </tr>
            <tr>
                <th>アクセス</th>
                <td>JR仙台駅西口より 徒歩1分</td>
            </tr>
        </table>
    </div>
    <div class="info">
        <span>浜松事業所</span>
        <table>
            <tr>
                <th>所在地</th>
                <td>静岡県浜松市中区板屋町111番地２ <br/>浜松アクトタワー15階</td>
            </tr>
            <tr>
                <th>TEL</th>
                <td>053-457-7111(代表)</td>
            </tr>
            <tr>
                <th>FAX</th>
                <td>053-457-7112</td>
            </tr>
            <tr>
                <th>アクセス</th>
                <td>JR浜松駅北口より 徒歩3分</td>
            </tr>
        </table>
    </div>
    <div class="info">
        <span>熊本事業所</span>
        <table>
            <tr>
                <th>所在地</th>
                <td>熊本県熊本市中央区桜町2丁目17号 <br/>第2甲斐田ビル4階</td>
            </tr>
            <tr>
                <th>TEL</th>
                <td>096-312-1330(代表)</td>
            </tr>
            <tr>
                <th>FAX</th>
                <td>096-312-1339</td>
            </tr>
            <tr>
                <th>アクセス</th>
                <td>JR熊本駅より 車6分 熊本市電慶徳校前駅より <br/>徒歩7分</td>
            </tr>
        </table>
    </div>
</div>
<div class="clearfix"></div>
<div class="profile_info">
    <p class="title">海外拠点</p>
    <div class="info">
        <span>シンガポール支店</span>
        <table>
            <tr>
                <th>所在地</th>
                <td>78 Shenton Way <br/>#20-01 Singapore 079120</td>
            </tr>
            <tr>
                <th>TEL/FAX </th>
                <td>+65-6221-7727</td>
            </tr>
        </table>
    </div>
    <div class="info">
        <span>バンコク駐在員事務所</span>
        <table>
            <tr>
                <th>所在地</th>
                <td>689 Bhiraj Tower at EmQuartier, Level 35, <br/>Unit 3502 Sukhumvit R</td>
            </tr>
            <tr>
                <th>TEL/FAX </th>
                <td>+66-2-261-3395 (3396,3397)</td>
            </tr>
            <tr>
                <th>アクセス </th>
                <td>BTSプロンポン(Phrom Phong)駅直結</td>
            </tr>
        </table>
    </div>
    <div class="info">
        <span>上海現地法人 山田商務諮詢（上海）<br/>有限公司</span>
        <table>
            <tr>
                <th>所在地</th>
                <td>上海市浦東新区陸家嘴環路1000号<br/> 恒生銀行大厦 14楼1442室</td>
            </tr>
            <tr>
                <th>TEL/FAX </th>
                <td>+86-21-58660573</td>
            </tr>
            <tr>
                <th>アクセス </th>
                <td>+86-21-58660278</td>
            </tr>
        </table>
    </div>
    <div class="info">
        <span class="fs_small">スパイア リサーチ アンド コンサルティング インドネシアオフィス内ジャパンデスク</span>
        <table>
            <tr>
                <th>所在地</th>
                <td>Wisma 46 Kota BNI, 25th Floor Unit 08 – 10, <br/>Jalan Jendral Sudir</td>
            </tr>
            <tr>
                <th>TEL </th>
                <td>(62 21) 5794 5800</td>
            </tr>
            <tr>
                <th>FAX</th>
                <td>(62 21) 5794 5800/td>
            </tr>
        </table>
    </div>
</div>