<div class="service">
    <div class="s_icon">
        <img src="assets/img/icon_s_01.png"  width="100" height="100" alt="">
    </div>
    <div class="s_content">
        <div class="text__head">
            <div class="s_icon">
                <img src="assets/img/icon_s_mb_01.png"  width="80" height="80" alt="">
            </div>
            <div class="s_title">
                <span> 組織コンサルティング</span>
                <i class="fa fa-angle-right" aria-hidden="true"></i> 
            </div>
        </div>
        <div class="s_text">
            「組織の再設計～業務のリストラクチャリング～各メンバーのスキル開発」の一連のサービスを通して、組織の持つ力を最大限発揮できる環境づくりをします
        </div>
        <div class="s_end">
            <ul>
                <li> <a href="#">組織コンサルティング</a></li>
                <li><a href="#">BPR・業務環境改善</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="service">
    <div class="s_icon">
        <img src="assets/img/icon_s_02.png"  width="100" height="100" alt="">
    </div>
    <div class="s_content">
        <div class="text__head">
            <div class="s_icon">
                <img src="assets/img/icon_s_mb_01.png"  width="80" height="80" alt="">
            </div>
            <div class="s_title">
                <span>人事コンサルティング</span>
                <i class="fa fa-angle-right" aria-hidden="true"></i> 
            </div>
        </div>
        <div class="s_text">
                人事制度の構築～運用～定着まで総合的に支援することで、マネジメント改善や企業風土の改革を実現します
        </div>
        <div class="s_end">
            <ul>
                <li> <a href="#">人事制度再構築</a></li>
                <li> <a href="#">教育・研修</a></li>
                <li> <a href="#">後継者・次世代幹部育成</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="service">
    <div class="s_icon">
        <img src="assets/img/icon_s_03.png"  width="100" height="100" alt="">
    </div>
    <div class="s_content">
        <div class="text__head">
            <div class="s_icon">
                <img src="assets/img/icon_s_mb_03.png"  width="80" height="80" alt="">
            </div>
            <div class="s_title">
                <span> 人事コンサルティング　 </span>
                <i class="fa fa-angle-right" aria-hidden="true"></i>
            </div>
        </div>
        <div class="s_text">
                人事領域における「守り」を確固たるものするための支援をいたします
        </div>
        <div class="s_end">
            <ul>　　　　　　
                <li> <a href="#">労務デューデリジェンス</a></li>
                <li> <a href="#">労務相談</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="service">
    <div class="s_icon">
        <img src="assets/img/icon_s_04.png"  width="100" height="100" alt="">
    </div>
    <div class="s_content">
        <div class="text__head">
            <div class="s_icon">
                <img src="assets/img/icon_s_mb_04.png"  width="80" height="80" alt="">
            </div>
            <div class="s_title">
                <span> 役員報酬設計 コンサルティング </span><i class="fa fa-angle-right icon_mb" aria-hidden="true"></i>
            </div>
        </div>
        <div class="s_text">
                事業戦略推進に貢献する役員報酬を設計します。また、ストックオプションや株式報酬導入において豊富な実績を有しており、最適なスキームをご提案します。
        </div>
        <div class="s_end">
            <ul>　　　　　　　　
                <li> <a href="#">役員報酬設</a></li>
                <li> <a href="#">株式報酬・ストックオプション導入</a></li>
            </ul>
        </div>
    </div>
</div>